@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import "tailwindcss";

@theme {
    --color-red: #b91c1c;
    --color-red-dark: #991b1b; 
    --color-red-hover: #7f1d1d; 
    
    --color-bg-warm: #f9f6f1; 
    --color-bg-white: #ffffff; 

    --color-text-dark: #1a1a1a; 
    --color-text-muted: #78716c;
    --color-text-light: #a8a29e; 

    --color-border: #e5e0d8; 
    --color-border-light: #f0ece4; 

    --font-Playfair: "Playfair";

    @keyframes slide-in-right {
        from { transform: translateX(20px); opacity: 0; }
        to { transform: translateX(0); opacity: 1; }
    }
    @keyframes slide-in-down {
        form { transform: translateY(-800px); opacity: 0;}
        to { transform: translateY(-532px); opacity: 1;}
    }
}

:root {
    font-family: "DM sans";
}

.animate-staggered-fade {
  animation: slide-in-right 0.4s ease-out forwards;
  opacity: 0;
}
.animate-filter {
    animation: slide-in-down 0.4s ease-in-out forwards;
    opacity: 0;
}
